@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
    font-family: 'Android' ;
    src: url('../fontes/idroid.otf') format('opentype'); 
    font-weight: normal;
}



:root {
     --cor0: #c5ebd6;
     --cor1: #83E1AD;
     --cor2: #3DDC84;
     --cor3: #2FA866;
     --cor4: #1A5C37;
     --cor5: #063d1e;
     --font-padrao: Arial, Helvetica, sans-serif;
     --font-destaque: "Bebas Neue", sans-serif;
     --font-android: 'Android', cursive;
}
body {
    background-color: var(--cor0);
    font: var(--font-padrao);
}
header {
    background-color: var(--cor4);
}
header > h1 {
    font-family: var(--font-destaque);
}
main  {
    background-color: white;
}
main > h1 {
    font: var(--font-android);

}
nav {

}
